div {
	background-color: white;
	margin: 10%;
	/*
	padding-left: 10%;
	padding-right: 10%;
	*/
	text-align: center;
	font-family: sans-serif;
}

.slide-title {
	font-size: 500%;
}

.slide-text {
	font-size: 200%;
	margin: 0;
	text-align: left;
}